<div class="level">
  <div class="level-left">
    <div class="level-item">
      <p class="title">Profile settings</p>
    </div>
  </div>
</div>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email, class: "label" %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password, class: "label" %>
    <%= f.password_field :password, autocomplete: "new-password", class: "input", placeholder: "Leave blank if you don't want to change it; #{@minimum_password_length ? "#{@minimum_password_length} characters minimum" : ""}" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, class: "label" %>
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "input" %>
  </div>

  <div class="field">
    <%= f.label :current_password, class: "label" %>
    <%= f.password_field :current_password, autocomplete: "current-password", class: "input", placeholder: "Enter current password to confirm your changes" %>
  </div>

  <div class="field is-grouped">
    <div class="control">
      <%= f.button class: "button is-success is-light" do %>
        <span class="icon">
          <span class="material-symbols-outlined">edit</span>
        </span>
        <span>Update</span>
      <% end %>
      <%= link_to registration_path(resource_name), class: "button is-danger is-light", data: { turbo_confirm: "Are you sure?", turbo_method: :delete } do %>
        <span class="icon">
          <span class="material-symbols-outlined">delete</span>
        </span>
        <span>Delete</span>
      <% end %>
      <%= link_to :back, class: "button is-link is-light" do %>
        <span class="icon">
          <span class="material-symbols-outlined">arrow_back</span>
        </span>
        <span>Go back</span>
      <% end %>
    </div>
  </div>
<% end %>
