<div class="level">
  <div class="level-left">
    <div class="level-item">
      <p class="title">Register</p>
    </div>
  </div>
</div>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), data: { turbo: false }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email, class: "label" %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input" %>
  </div>

  <div class="field">
    <%= f.label :password, class: "label" %>
    <%= f.password_field :password, autocomplete: "new-password", class: "input", placeholder:  @minimum_password_length ? "#{@minimum_password_length} characters minimum" : "" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, class: "label" %>
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "input" %>
  </div>

  <div class="field is-grouped">
    <div class="control">
      <%= f.submit "Sign up", class: "button" %>
    </div>
  </div>
  
  <%= render "devise/shared/links" %>
<% end %>
