<% if resource.errors.any? %>
  <article class="panel is-danger">
    <p class="panel-heading">
      <%= I18n.t("errors.messages.not_saved",
                 count: resource.errors.count,
                 resource: resource.class.model_name.human.downcase)
       %>
    </p>
    <% resource.errors.full_messages.each do |message| %>
      <div class="panel-block">
        <%= message %>
      </div>
    <% end %>
  </article>
<% end %>
