<div class="level">
  <div class="level-left">
    <div class="level-item">
      <p class="title">Change your password</p>
    </div>
  </div>
</div>


<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <%= f.hidden_field :reset_password_token %>

  <div class="field">
    <%= f.label :password, "New password", class: "label" %>
    <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: "input", placeholder: "#{@minimum_password_length ? "#{@minimum_password_length} characters minimum" : "" }" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, "Confirm new password", class: "label" %>
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "input" %>
  </div>

  <div class="field is-grouped">
    <div class="control">
      <%= f.submit "Change my password", class: "button" %>
    </div>
  </div>
  
  <%= render "devise/shared/links" %>
<% end %>


