<div class="level">
  <div class="level-left">
    <div class="level-item">
      <p class="title">Forgot your password?</p>
    </div>
  </div>
</div>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }, data: { turbo: false }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email, class: "label" %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input" %>
  </div>

  <div class="field is-grouped">
    <div class="control">
      <%= f.submit "Send me reset password instructions", class: "button" %>
    </div>
  </div>
  
  <%= render "devise/shared/links" %>
<% end %>
