<div class="level">
  <div class="level-left">
    <div class="level-item">
      <p class="title">About</p>
    </div>
  </div>
</div>
<div class="content">
  <p>A simple contact management system with user management and CRUD operation support.</p>
  <p>Libraries and frameworks used to build this project:</p>
  <div class="field is-grouped is-grouped-multiline">
    <div class="control">
      <span class="tag is-danger is-light">Rails</span>
    </div>
    <div class="control">
      <span class="tag is-info is-light">Devise</span>
    </div>
    <div class="control">
      <span class="tag is-success is-light">Propshaft</span>
    </div>
    <div class="control">
      <span class="tag is-info is-light">Turbo</span>
    </div>
    <div class="control">
      <span class="tag is-primary is-light">Stimulus</span>
    </div>
    <div class="control">
      <span class="tag is-warning is-light">JS Bundling</span>
    </div>
    <div class="control">
      <span class="tag is-info is-light">CSS Bundling</span>
    </div>
    <div class="control">
      <span class="tag is-link is-light">ActionView</span>
    </div>
    <div class="control">
      <span class="tag is-danger is-light">ActiveRecord</span>
    </div>
    <div class="control">
      <span class="tag is-link is-light">ActionMailer</span>
    </div>
    <div class="control">
      <span class="tag is-warning is-light">esbuild</span>
    </div>
    <div class="control">
      <span class="tag is-danger is-light">Sass</span>
    </div>
    <div class="control">
      <span class="tag is-primary is-light">Bulma</span>
    </div>
    <div class="control">
      <span class="tag is-success is-light">Material Symbols</span>
    </div>
    <div class="control">
      <span class="tag is-info is-light">PostgreSQL</span>
    </div>
  </div>
  <p>To start using the app, you can either register a new account, or login using an existing account.</p>
  <p>Already logged in? Start managing your contacts <%= link_to "here", contacts_path %>.</p>
</div>
