<%= form_with(model: contact) do |form| %>
  <% if contact.errors.any? %>
    <article class="panel is-danger">
      <p class="panel-heading">
        <%= pluralize(contact.errors.count, "error") %> prohibited this contact from being saved:
      </p>
      <% contact.errors.each do |error| %>
        <div class="panel-block">
          <%= error.full_message %>
        </div>
      <% end %>
    </article>
  <% end %>

  <div class="field">
    <%= form.label :first_name, class: "label" %>
    <div class="control">
      <%= form.text_field :first_name, class: "input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :last_name, class: "label" %>
    <div class="control">
      <%= form.text_field :last_name, class: "input" %>
    </div>
  </div>
  
  <div class="field">
    <%= form.label :email, class: "label" %>
    <div class="control">
      <%= form.text_field :email, class: "input" %>
    </div>
  </div>
  
  <div class="field">
    <%= form.label :phone, class: "label" %>
    <div class="control">
      <%= form.text_field :phone, class: "input" %>
    </div>
  </div>
  
  
  <div class="field is-grouped">
    <div class="control">
      <%= form.button class: "button is-success is-light" do %>
        <% if action_name == "new" %>
          <span class="icon">
            <span class="material-symbols-outlined">add</span>
          </span>
          <span>Create</span>
        <% else %>
          <span class="icon">
            <span class="material-symbols-outlined">edit</span>
          </span>
          <span>Update</span>
        <% end %>
      <% end %>
    </div>
    <div class="control">
      <%= link_to :back, class: "button is-danger is-light" do %>
        <span class="icon">
          <span class="material-symbols-outlined">close</span>
        </span>
        <span>Cancel</span>
      <% end %>
    </div>
  </div>
<% end %>
