<div class="level">
  <div class="level-left">
    <div class="level-item">
      <p class="title">Contacts</p>
    </div>
  </div>
  <div class="level-right">
    <div class="level-item">
      <%= link_to new_contact_path, class: "button is-success is-light" do %>
        <span class="icon">
          <span class="material-symbols-outlined">add</span>
        </span>
        <span>Add contact</span>
      <% end %>
    </div>
  </div>
</div>
<% if @contacts.empty? %>
  <div class="content">
    <p>Your contacts seems to be empty at the moment. Try adding a few of them here to populate this page.</p>
  </div>
<% else %>
  <div class="table-container">
    <table class="table is-striped is-fullwidth" id="contacts">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Phone</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @contacts.each do |contact| %>
          <tr id="<%= dom_id contact %>">
            <th>
              <%= link_to "#{contact.first_name} #{contact.last_name}", contact %>
            </th>
            <td><%= contact.email %></td>
            <td><%= contact.phone %></td>
            <td>
              <%= link_to edit_contact_path(contact), class: "has-text-link" do %>
                <span class="material-symbols-outlined">edit</span>
              <% end %>
            </td>
            <td>
              <%= link_to contact, data: { turbo_method: :delete }, class: "has-text-danger" do %>
                <span class="material-symbols-outlined">delete</span>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>
