<div class="level">
  <div class="level-left">
    <div class="level-item">
      <p class="title">Details</p>
    </div>
  </div>
</div>
<div class="card">
  <div class="card-content">
    <div class="level">
      <div class="level-left">
        <div class="level-item">
          <div class="media">
            <div class="media-content">
              <strong class="is-size-2"><%= @contact.first_name %>&nbsp;<%= @contact.last_name %></strong>
            </div>
          </div>
        </div>
      </div>
      <div class="level-right">
        <div class="level-item">
          <div class="field is-grouped">
            <div class="control">
              <%= link_to edit_contact_path(@contact), class: "button is-success is-light" do %>
                <span class="icon">
                  <span class="material-symbols-outlined">edit</span>
                </span>
                <span>Edit</span>
              <% end %>
            </div>
            <div class="control">
              <%= link_to contact_path, data: { turbo_method: :delete }, class: "button is-danger is-light" do %>
                <span class="icon">
                  <span class="material-symbols-outlined">delete</span>
                </span>
                <span>Delete</span>
              <% end %>
            </div>
            <div class="control">
              <%= link_to contacts_path, class: "button is-link is-light" do %>
                <span class="icon">
                  <span class="material-symbols-outlined">arrow_back</span>
                </span>
                <span>Go back</span>
              <% end %>
            </div>

          </div>
        </div>
      </div>
    </div>
    <div class="content">
      <div class="level">
        <div class="level-item has-text-centered">
          <div>
            <p class="heading">
              <span class="material-symbols-outlined">mail</span>
            </p>
            <p class="subtitle is-5"><%= @contact.email %></p>
          </div>
        </div>
        <div class="level-item has-text-centered">
          <div>
            <p class="heading">
              <span class="material-symbols-outlined">phone</span>
            </p>
            <p class="subtitle is-5"><%= @contact.phone %></p>
          </div>
        </div>
        <div class="level-item has-text-centered">
          <div>
            <p class="heading">
              <span class="material-symbols-outlined">timeline</span>
            </p>
            <p class="subtitle is-5">
              Added <%= time_ago_in_words(@contact.created_at) %> ago
            </p>
          </div>
        </div>
      </div> 
    </div>
  </div>
</div>
