<div class="level">
  <div class="level-left">
    <div class="level-item">
      <p class="title">Login</p>
    </div>
  </div>
</div>

<%= form_for(resource, as: resource_name, url: session_path(resource_name), data: { turbo: false }) do |f| %>
  <div class="field">
    <%= f.label :email, class: "label" %>
    <div class="control">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input" %>
    </div>
  </div>

  <div class="field">
    <%= f.label :password, class: "label" %>
    <%= f.password_field :password, autocomplete: "current-password", class: "input" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.label :remember_me, class: "checkbox" do %>
        <%= f.check_box :remember_me, class: "checkbox" %>
        Remember me
      <% end %>
    </div>
  <% end %>

  <div class="field is-grouped">
    <div class="control">
      <%= f.submit "Login", class: "button" %>
    </div>
  </div>

  <%= render "devise/shared/links" %>
<% end %>
