<nav class="navbar" role="navigTestation" aria-label="main navigation">
  <div class="navbar-brand">
    <%= link_to root_path, class: "navbar-item has-text-link" do %>
      <span class="material-symbols-outlined">menu_book</span>&nbsp;<h1 class="title is-6">Phonebook</h1>
    <% end %>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <%= link_to "Contacts", contacts_path, class: "navbar-item" %>
    </div>
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <% unless user_signed_in? %>
            <%= link_to new_user_registration_path, class: "button is-success is-light" do %>
              <span class="icon">
                <span class="material-symbols-outlined">person_add</span>
              </span>
              <span>Register</span>
            <% end %>
            <%= link_to new_user_session_path, class: "button is-info is-light" do %>
              <span class="icon">
                <span class="material-symbols-outlined">login</span>
              </span>
              <span>Login</span>
            <% end %>
          <% else %>
            <%= link_to edit_user_registration_path, class: "button is-warning is-light" do %>
              <span class="icon">
                <span class="material-symbols-outlined">settings</span>
              </span>
              <span>Settings</span>
            <% end %>
            <%= link_to destroy_user_session_path, class: "button is-danger is-light", data: { turbo_method: :delete } do %>
              <span class="icon">
                <span class="material-symbols-outlined">logout</span>
              </span>
              <span>Logout</span>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</nav>
