<!DOCTYPE html>
<html>
  <head>
    <title>Phonebook</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= favicon_link_tag asset_path('svg-400/outlined/menu_book.svg') %>
  </head>

  <body>
    <%= render "layouts/header" %>
    <div class="container">
      <section class="section">
        <%= render "layouts/alert" %>
        <%= yield %>
      </section>
    </div>
  </body>
</html>
